
<h1 style="color: blue">NetworkLeed</h1>
<h3>Bienvenue <span style="color: green"><%= @user.first_name %></span> !</h3>
<P>NetworkLeed est un site de vente de matériel informatique neuf à des prix imbattables .<br>
Découvrez des produits de qualité à des prix attractifs en parcourant notre site internet.<br>
Contactez directement les vendeurs pour en savoir plus sur les produits qui vous intéressent.<br>
Merci de nous faire confiance pour vos achats en ligne.</p>
<p>Pour accéder à votre espace client, connectez-vous via : <%= @url %>.</p>
<p>Cordialement, <br>
L'équipe NetworkLeed </P>


<br><br><br>
<hr>
<br>
<h1 style="color: green">NetworkLeed</h1>
<h3>Welcome <span style="color: green"><%= @user.first_name %></span>!</h3>
<p>NetworkLeed is a site that specializes in selling new computer equipment at unbeatable prices.<br>
Discover quality products at attractive prices by browsing our website.<br>
Contact the sellers directly to learn more about the products that interest you.<br>
Thank you for trusting us with your online purchases.</p>
<p>To access your customer area, log in via: <%= @url %>.</p>
<p>Best regards,<br>
The NetworkLeed team</p>