<br>
<h1 style="color: blue">NetworkLeed</h1>
<h3>Bienvenue <span style="color: green"><%= @user.first_name %><span> !</h3>

<p>Nous avons reçu une demande pour enregistrer cette adresse mail avec votre compte NetworkLeed.<br>
Pour confirmer que vous êtes le propriétaire de cette adresse mail,<br>
veuillez cliquer sur le lien ci-dessous :</p>

<h3 style="color: red"><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></h3>
<br>
<p>Si vous n'avez pas demandé à enregistrer cette adresse mail, veuillez ignorer ce message.</p>
<p>Merci de votre confiance en NetworkLeed</p>
<br><br>
<p>Cordialement,<br>
L'équipe NetworkLeed<br>
</p>

<img src="https://images.unsplash.com/photo-1527864550417-7fd91fc51a46?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80" width="100px"></img>
<hr>
<br>
<h1 style="color: green">NetworkLeed</h1>
<h3>Welcome <span style="color: green"><%= @user.first_name %></span> !</h3>


<p>We received a request to register this email address with your NetworkLeed account.<br>
To confirm that you are the owner of this email address,<br>
please click on the link below:</p>

<h3 style="color: red"><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></h3>
<br>
<p>If you have not requested to save this email address, please ignore this message.</p>
<p>Thank you for trusting NetworkLeed</p>
<br><br>
<p>Regards,<br>
 NetworkLeed team.<br>
 </p>